.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
echarts1_6
echarts7_12
echarts13_18
echarts19_24
echarts25_30
echarts31_36
echarts37_42

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
